@font-face {
    font-family: Vazir;
    src: url("/font/Vazir.ttf");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url("/font/Vazir-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir, Tahoma, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    line-height: 1;
    direction: rtl;
    padding: 2.4rem;
}

.navbar{
    display: flex;
    border-radius: 0.9rem;
    background-color: #0c8599;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 95vw;
}

.logo{
    display: flex;
    font-size: 3rem;
    padding: 1.5rem;
    color: #fff;
}

.main{
    margin: 2rem auto;
    width: auto;
    max-width: 120rem;
}

.texts{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    margin-top: 1rem;
}

span{
    color: #495057;
}

.textArea{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 60rem;
    height: 30rem;
    border-color: #ced4da;
    padding: 1rem;
    resize: none;
    border-radius: 1rem;
    overflow: hidden;
}

.textArea:focus{
    outline: none !important;
    border:1px solid #adb5bd;
    box-shadow: 0 0 10px #dde3ec;
}

.right-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2rem;
}

.left-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textEdited{
    font-size: 2rem;
    display: flex;
    width: 60rem;
    height: 30rem;
    border: 1px solid #ced4da;
    padding: 1rem;
    resize: none;
    border-radius: 1rem;
    background-color: #f8f9fa;
    line-height: 3rem;
}

.up-box {
    display: flex;
    align-items: center;
}
.up-text{
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    align-items: center;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.errorButton{
    background-color: #f6d5d8;
    color: #fd0000;
}

.errorButtonActive{
    border: 0.2rem solid #fd0000;
}

.puncButton{
    background-color: #d7f6d5;
    color: #009338;
}

.puncButtonActive{
    border: 0.2rem solid #009338;
}

.error span{
    color: #868e96;
}

.copyButton {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 5rem;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.copyButton:hover {
    background-color: #45a049;
}
